In [1]:
import pandas as pd
import numpy as np

In [5]:
df=pd.read_csv("C:/Users/1\Desktop/DSBDA/Mall_Customers.csv")
df

   CustomerId   Genre  Age  Annual Income(k$)   Spending Score(1-100)
0           1    Male   19                 15                      39
1           2    Male   21                 15                      81
2           3  Female   20                 16                       6
3           4  Female   23                 16                      77
4           5  Female   31                 17                      40

In [6]:
df.mean()

C:\Users\1\AppData\Local\Temp\ipykernel_8164\3698961737.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.mean()

CustomerId                 3.0
Age                       22.8
Annual Income(k$)         15.8
 Spending Score(1-100)    48.6
dtype: float64

In [7]:
df.median()

C:\Users\1\AppData\Local\Temp\ipykernel_8164\530051474.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.median()

CustomerId                 3.0
Age                       21.0
Annual Income(k$)         16.0
 Spending Score(1-100)    40.0
dtype: float64

In [8]:
df.min()

CustomerId                     1
Genre                     Female
Age                           19
Annual Income(k$)             15
 Spending Score(1-100)         6
dtype: object

In [9]:
df.max()

CustomerId                   5
Genre                     Male
Age                         31
Annual Income(k$)           17
 Spending Score(1-100)      81
dtype: object

In [12]:
df["Age"].mean()

22.8

In [13]:
df["Age"].mode()

0    19
1    20
2    21
3    23
4    31
Name: Age, dtype: int64

In [14]:
df["Age"].median()

21.0

In [15]:
df["Age"].std()

4.8166378315169185

In [16]:
gk=df.groupby(["Genre"])

In [17]:
gk.first()

        CustomerId  Age  Annual Income(k$)   Spending Score(1-100)
Genre
Female           3   20                 16                       6
Male             1   19                 15                      39

In [18]:
csv_url='https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'

In [19]:
df_iris = pd.read_csv(csv_url, header=None)

In [20]:
col_names = ['Sepa_Length', 'Sepal_Width','Petal_Length','Petal_Width','Species']

In [21]:
df_iris = pd.read_csv(csv_url, names=col_names)

In [22]:
df_iris

     Sepa_Length  Sepal_Width  Petal_Length  Petal_Width         Species
0            5.1          3.5           1.4          0.2     Iris-setosa
1            4.9          3.0           1.4          0.2     Iris-setosa
2            4.7          3.2           1.3          0.2     Iris-setosa
3            4.6          3.1           1.5          0.2     Iris-setosa
4            5.0          3.6           1.4          0.2     Iris-setosa
..           ...          ...           ...          ...             ...
145          6.7          3.0           5.2          2.3  Iris-virginica
146          6.3          2.5           5.0          1.9  Iris-virginica
147          6.5          3.0           5.2          2.0  Iris-virginica
148          6.2          3.4           5.4          2.3  Iris-virginica
149          5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [23]:
gk=df_iris.groupby('Species')

In [24]:
gk.first()

                 Sepa_Length  Sepal_Width  Petal_Length  Petal_Width
Species
Iris-setosa              5.1          3.5           1.4          0.2
Iris-versicolor          7.0          3.2           4.7          1.4
Iris-virginica           6.3          3.3           6.0          2.5

In [25]:
gk.describe()

                Sepa_Length                                              \
                      count   mean       std  min    25%  50%  75%  max
Species
Iris-setosa            50.0  5.006  0.352490  4.3  4.800  5.0  5.2  5.8
Iris-versicolor        50.0  5.936  0.516171  4.9  5.600  5.9  6.3  7.0
Iris-virginica         50.0  6.588  0.635880  4.9  6.225  6.5  6.9  7.9

                Sepal_Width         ... Petal_Length      Petal_Width         \
                      count   mean  ...          75%  max       count   mean
Species                             ...
Iris-setosa            50.0  3.418  ...        1.575  1.9        50.0  0.244
Iris-versicolor        50.0  2.770  ...        4.600  5.1        50.0  1.326
Iris-virginica         50.0  2.974  ...        5.875  6.9        50.0  2.026


                      std  min  25%  50%  75%  max
Species
Iris-setosa      0.107210  0.1  0.2  0.2  0.3  0.6
Iris-versicolor  0.197753  1.0  1.2  1.3  1.5  1.8
Iris-virginica   0.274650  1.4  1.8  2.0  2.3  2.5

[3 rows x 32 columns]

In [26]:
iris_Set=(df_iris['Species'] == "Iris-setosa")

In [27]:
print("Iris-setosa")

Iris-setosa

In [28]:
print(df_iris[iris_Set].describe())

       Sepa_Length  Sepal_Width  Petal_Length  Petal_Width
count     50.00000    50.000000     50.000000     50.00000
mean       5.00600     3.418000      1.464000      0.24400
std        0.35249     0.381024      0.173511      0.10721
min        4.30000     2.300000      1.000000      0.10000
25%        4.80000     3.125000      1.400000      0.20000
50%        5.00000     3.400000      1.500000      0.20000
75%        5.20000     3.675000      1.575000      0.30000
max        5.80000     4.400000      1.900000      0.60000

In [30]:
iris_Vir=(df_iris['Species'] == "Iris-virginica")
print(df_iris[iris_Vir].describe())

       Sepa_Length  Sepal_Width  Petal_Length  Petal_Width
count     50.00000    50.000000     50.000000     50.00000
mean       6.58800     2.974000      5.552000      2.02600
std        0.63588     0.322497      0.551895      0.27465
min        4.90000     2.200000      4.500000      1.40000
25%        6.22500     2.800000      5.100000      1.80000
50%        6.50000     3.000000      5.550000      2.00000
75%        6.90000     3.175000      5.875000      2.30000
max        7.90000     3.800000      6.900000      2.50000

In [31]:
iris_Ver=(df_iris['Species'] == "Iris-versicolor")
print(df_iris[iris_Ver].describe())

       Sepa_Length  Sepal_Width  Petal_Length  Petal_Width
count    50.000000    50.000000     50.000000    50.000000
mean      5.936000     2.770000      4.260000     1.326000
std       0.516171     0.313798      0.469911     0.197753
min       4.900000     2.000000      3.000000     1.000000
25%       5.600000     2.525000      4.000000     1.200000
50%       5.900000     2.800000      4.350000     1.300000
75%       6.300000     3.000000      4.600000     1.500000
max       7.000000     3.400000      5.100000     1.800000